{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            {tp:menu menu="add,forbid,resume,delete,recyclebin" /}
        </span>
        <span class="r pt-5 pr-5">
            共有数据 ：<strong>{$count ?? '0'}</strong> 条
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            {include file="th" /}
            <th width="70">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
            <td class="f-14"> {$vo.title} </td>
            <td class="f-14"><img id="bigimg" src="{$vo.map}" style="width: 80px" alt=""></td>
            <td class="f-14">{$vo['time']|date="Y-m-d H:i:s",###} </td>
            <td class="f-14">
                <a href="{:url('Preferential/show',['id'=>$vo.id])}">查看</a>
                <a href="{:url('Preferential/edit',['id'=>$vo.id])}">编辑</a>
                <a href="#"onclick="dell({$vo.id})">删除</a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$list->render()}</div>
</div>
{/block}
{block name="script"}
{block name="script"}
<script>
    function dell(id){
        $.post("{:url('Preferential/delete')}",{id:id},function(data){
////                layer_msg(data.msg)
//                console.log(data.msg)
            $.('.ss').html('')
            alert(data.msg)
            location.reload()
        });
    }

    $.ajax({
        url
    })
</script>
{/block}