{extend name="base/index" /}
{block name="title"}{/block}
{block name="content"}
<div class="content">
    <div class="login_bg">
        <div class="logres">
            <div class="logres_l f_l">
                <div class="logres_l_bj">
                    <div class="logres_l_t">
                        <span>会员注册</span>
                    </div>
                    <div class="logres_l_i">
                        <span class="f_l">手机号</span>
                        <input class="f_l">
                    </div>
                    <div class="logres_l_i">
                        <span class="f_l">密&nbsp;&nbsp;&nbsp;码</span>
                        <input class="f_l">
                    </div>
                    <div class="logres_l_i">
                        <span class="f_l">确认密码</span>
                        <input class="f_l">
                    </div>
                    <div class="sryzm_l_i">
                        <span class="f_l">验证码</span>
                        <div class="sryzm_in f_L">
                            <input class="sryzm f_l">
                            <div class="yzm f_l">
                                <a href="#"><img src="__IMG__/yzm.jpg"></a>
                            </div>
                        </div>
                    </div>
                    <div class="dl_zc">
                        <div class="f_r">
                            <a href="#">忘记密码</a> | <a href="#">注册</a>
                        </div>
                    </div>
                    <div class="login_dl">
                        <a href="#">登录</a>
                    </div>
                </div>

            </div>

            <div class="logres_r f_r">
                <img src="__IMG__/login_pic.jpg">
            </div>
        </div>
    </div>

</div>
{/block}