{extend name="base/index" /}
{block name="title"}会员专区{/block}
{block name="content"}
<!-- <div class="content">
    <div class="huzq" id = "huzq" style="width: 100%; height: 726px;">
        <div class="vip_us" id = "vip_us">
            <div class="vip_us_l f_l">
                <div class="vip_us_l_zq"><a href="#">vip专区</a></div>
                <ul class="vip_us_l_xq">
                    <li>
                        <div class="vip_us_l_xq_tx f_l"><a href="#">我的资料</a></div>
                        <div class="vip_us_l_xq_jt f_l"><img src="__IMG__/jiant_03.png"></div>
                    </li>
                    <li>
                        <div class="vip_us_l_xq_tx f_l"><a href="#">我的积分</a></div>
                    </li>
                    <li>
                        <div class="vip_us_l_xq_tx f_l"><a href="#">我的银子</a></div>
                    </li>
                    <li>
                        <div class="vip_us_l_xq_tx f_l"><a href="#">我的购物车</a></div>
                    </li>
                    <li>
                        <div class="vip_us_l_xq_tx f_l"><a href="#">我的订单</a></div>
                    </li>
                    <li>
                        <div class="vip_us_l_xq_tx f_l"><a href="#">我的商品订单</a></div>
                    </li>
                    <li>
                        <div class="vip_us_l_xq_tx f_l"><a href="#">会员政策</a></div>
                    </li>
                </ul>
            </div>
            <div class="vip_us_r f_l">
                <div class="vip_us_r_a">
                    <div class="wode_zhiliao">
                        <div class="zhiliao_tx f_l">
                            <img src="__IMG__/toux.jpg" width="136px;" height="116px;">
                        </div>
                        <div class="zhiliao_nc f_l">
                            <div class="zhiliao_bd">
                                <span class='f_l'>昵称：</span>
                                <P class="f_l"></P>
                            </div>
                            <div class="zhiliao_bd">
                                <span class='f_l'>性别：</span>
                                <P class="f_l"></P>
                            </div>
                            <div class="zhiliao_bd">
                                <span class='f_l'>手机：</span>
                                <P class="f_l">183****8303</P>
                            </div>
                        </div>
                        <div class="zhiliao_mim f_l">
                            <div class="zhiliao_bd">
                                <span class='f_l'>性别：</span>
                                <P class="f_l"></P>
                            </div>
                            <div class="zhiliao_bd">
                                <span class='f_l'>邮箱：</span>
                                <P class="f_l"></P>
                            </div>
                            <div class="zhiliao_bd">
                                <a href="#">修改密码>></a>
                            </div>
                        </div>
                    </div>
                    <div class="wode_dindan">
                        <div class="wode_dindan_t">我的订单</div>
                        <div class="wode_dindan_xq">
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="yangs">1</span><br>
                                        待付款
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>0</span><br>
                                        待送餐
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>0</span><br>
                                        待送餐
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>0</span><br>
                                        待入住(待领餐)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>0</span><br>
                                        待评价
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>0</span><br>
                                        待分享
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>0</span><br>
                                        退款中
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="wode_jifen">我的积分：<span class="yangs">900</span></div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<img src="__IMG__/newMember.jpg" style="width:100%" alt="">
<div class="newMember">
    <div class="Title"><span>1</span>会员注册</div>
    <h5>（一）注册方式</h5>
    <p>1.销售经理注册</p>
    <p>2.到店注册</p>
    <h5>（二）注册信息</h5>
    <p>1.个人会员需提交姓名、性别、身份证号、手机号、充值金额自助注册</p>
    <p>2.企业会员需提交企业工商营业执照复印件、固定电话号码、联络人姓名、联络人职务、联络人手机号</p>
    <h5>（三）会员身份认定</h5>
    <p>1.个人会员身份认定以会员编号、身份证号、手机号为准</p>
    <p>2.企业会员身份认定以会员编号、企业名称、统一社会信用代码、联络人手机号为准</p>
    <h5>（四）会员信息修改</h5>
    <p>1.个人会员可在公众号中填写更改信息及手机验证码自助修改</p>
    <p>2.企业会员更改信息由酒店授权人更改</p>
    <h5>（五）密码服务</h5>
    <p>1.登录密码：是指会员登录官网、微信、APP时的密码，由客人自行设置</p>
    <p>2.支付密码：是指会员使用储值金额时的密码，采用手机动态验证码，具有时效性且不可编辑</p>
    <p>3.登录密码是行使会员权益的唯一密匙，由会员本人妥善保管，若密码遗忘，可在官网、微信公众号或短信自助找回。</p>
    <div class="Title"><span>2</span>会员权益</div>
    <h5>（一）会员等级</h5>
    <p>1．会员储值金额及相应折扣</p>
    
    <table class="tabone" border="1" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
              <th rowspan="2">等级分项</th>
              <th colspan="3">云孚里酒店</th>
              <th>NACY’S餐厅</th>
              <th>零邻便利店</th>
              <th>家居用品</th>
            </tr>
            <tr>
              <th>折扣</th>
              <th>退房时限</th>
              <th>充值金额</th>
              <th>折扣</th>
              <th>折扣</th>
              <th>折扣</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>注册会员</td>
                <td>9</td>
                <td>￥0</td>
                <td>12：00 </td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
            </tr>
            <tr>
                <td>公司会员</td>
                <td>8.6</td>
                <td>￥0</td>
                <td>13：00 </td>
                <td>9.5</td>
                <td>9.5</td>
                <td>9</td>
            </tr>
            <tr>
                <td>金卡会员</td>
                <td>8</td>
                <td>￥1,500</td>
                <td>14：00 </td>
                <td>9</td>
                <td>9.2</td>
                <td>8.5</td>
            </tr>
            <tr>
                <td>铂金卡会员</td>
                <td>7.5</td>
                <td>￥3,000</td>
                <td>14：00 </td>
                <td>8.5</td>
                <td>9</td>
                <td>8</td>
            </tr>
            <tr>
                <td>钻石卡会员</td>
                <td>7</td>
                <td>￥10,000</td>
                <td>14：00 </td>
                <td>8</td>
                <td>8.2</td>
                <td>7.7</td>
            </tr>
            <tr>
                <td>黑卡会员</td>
                <td>6</td>
                <td>￥30,000</td>
                <td>14：00 </td>
                <td>7</td>
                <td>8.5</td>
                <td>7</td>
            </tr>
            <tr>
                <td>股东卡</td>
                <td>7</td>
                <td>￥0</td>
                <td>14：00 </td>
                <td>8</td>
                <td>8.8</td>
                <td>7</td>
            </tr>
        </tbody>
    </table>

    <p>2.股东卡为店总权限，由总部授权店总注册</p>
    <p>（1）储值会员续费时，按续费金额进行升降级，授权主管手动调整即可</p>
    <p>（2）储值会员余额不退，不得转让</p>
    <p>（3）储值会员余额不足且不充值时，按注册会员享受折扣</p>
    <p>（4）储值会员使用代金券时，需确保余额足以支付商品费用后再予抵扣代金券金额</p>
    <h5>（二）会员积分</h5>
    <p>1.会员每消费1元，获得1积分</p>
    <p>2.积分可在酒店换购商品或服务，积分不可转让、不可兑换现金，积分终身有效、不清零</p>
    <p>3.积分购买力为100积分等于2元</p>
    <p>4.使用代金券或积分时都不再获得积分</p>
    <p>5.兑换积分以所在门店的对应房型的注册会员价</p>
    <div class="Title"><span>3</span>会员储值</div>
    <p>1.会员储值接受转账、微信支付、支付宝支付、现金、刷卡等方式</p>
    <p>2.通过微信公众号在线储值送积分</p>
    
    <table class="tabtwo" border="1" cellspacing="0" cellpadding="0">
            <tr>
                <td>等级分项</td>
                <td>充值金额</td>
                <td>积分</td>
            </tr>
            <tr>
                <td>注册会员</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>公司会员</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>金卡会员</td>
                <td>1500</td>
                <td>500</td>
            </tr>
            <tr>
                <td>铂金卡会员</td>
                <td>3000</td>
                <td>1000</td>
            </tr>
            <tr>
                <td>钻石卡会员</td>
                <td>10000</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>黑卡会员</td>
                <td>30000</td>
                <td>5000</td>
            </tr>
            <tr>
                <td>股东卡</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </table>

    <div class="Title"><span>4</span>会员归属及隐私保护</div>
    <p>1.会员归属上海澄观酒店管理有限公司</p>
    <p>2.各分店仅有权查看、修改本店开发的协议单位会员资料中联系人及其联系方式</p>
    <p>3.个人会员资料除会员本人有权查看、修改外，任何人均无权查看及修改。</p>
</div>
{/block}