{extend name="base/index" /}
{block name="title"}{/block}
{block name="content"}
<div class="content">
    <div class="quanyi">
        <div class="vip_us">
            {include file='Public:member_menu'/}
            <div class="hysc f_l">
                <div class="post_cont" style="color:#000">
                    <div>
                        尊敬的云孚里会员：
                        感谢您陪伴云孚里一路走来，更感谢您对云孚里的信赖和喜爱。
                        2015年12月23日，云孚里会员体系全新升级，为您提供更优惠，更全面，超预期的服务体验。升级之后部分会员权益或规则如下，请您知晓：
                    </div>
                    <p>
                        &nbsp;
                    </p>
                    <div>
                        <p>
                            1、云孚里将原阶梯型折扣价（铂金8.8折、金卡9折、银卡9.2折）统一调整为全部会员享受8.8折，且入住以后的积分累计，标准统一变更为1:1。
                        </p>
                        <p>
                            2、会员成功入住，可获赠奖励红包，每住一晚都将获赠一个红包，级别越高，红包越大。
                        </p>
                        <p>
                            3、会员级别越高，尊享权益越丰富，更有针对铂金会员的专属服务。
                        </p>
                        <p>
                            4、线上预订流程全新升级。
                        </p>

                    </div>
                    <p>
                        &nbsp;
                    </p>
                    <div>
                        从“满意”到“惊喜”；从传统的住宿体验，到实现您在路上的“第四空间”，云孚里感谢您一路相随。<br>

                        很高兴，遇见您；很希望，再见您！
                    </div>
                </div>
                <h1 style=" margin-bottom: 5px; ">
                    会员权益
                </h1>
                <table border="0" class="hysctab" class="graytab">
                    <tbody>
                    <tr class="graylight firstRow">
                        <th colspan="2">
                            会员权益
                        </th>
                        <th style="width: 22.8%;">
                            银会员（识君）
                        </th>
                        <th style="width: 22.82%;">
                            金会员（知己）
                        </th>
                        <th style="width: 24.52%;">
                            铂金会员（执手）
                        </th>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            会员办理
                        </td>
                        <td style="width: 22.8%;">
                            38元
                        </td>
                        <td style="width: 22.82%;">
                            198元
                        </td>
                        <td style="width: 24.52%;">
                            仅限升级/邀请
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            会员有效期
                        </td>
                        <td style="width: 22.8%;">
                            永久
                        </td>
                        <td style="width: 22.82%;">
                            永久
                        </td>
                        <td style="width: 24.52%;">
                            12个月
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            房价折扣
                        </td>
                        <td style="width: 22.8%;">
                            88折
                        </td>
                        <td style="width: 22.82%;">
                            88折
                        </td>
                        <td style="width: 24.52%;">
                            88折
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            开卡礼包
                        </td>
                        <td style="width: 22.8%;">
                            -
                        </td>
                        <td style="width: 22.82%;">
                            200元
                        </td>
                        <td style="width: 24.52%;">
                            -
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            入住奖励红包
                        </td>
                        <td style="width: 22.8%;">
                            √
                        </td>
                        <td style="width: 22.82%;">
                            √
                        </td>
                        <td style="width: 24.52%;">
                            √
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            早餐

                        </td>
                        <td style="width: 22.8%;">

                            <span style="color: rgb(0, 0, 0);">48元</span>

                        </td>
                        <td style="width: 22.82%;" rowspan="2">
                            <div>免费2位</div>
                            <div>(早餐下午茶任选其一)</div>
                        </td>
                        <td style="width: 24.52%;">
                            免费2位
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            下午茶

                        </td>
                        <td style="width: 22.8%;">
                            <span style="color: rgb(0, 0, 0);">38元</span>
                        </td>
                        <td style="width: 24.52%;">
                            免费2位
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            房型免费升级

                        </td>
                        <td style="width: 22.8%;">

                            <span style="color: rgb(0, 0, 0);">-</span>

                        </td>
                        <td style="width: 22.82%;">

                            <span style="color: rgb(0, 0, 0);">-</span>

                        </td>
                        <td style="width: 24.52%;">

                            <span style="color: rgb(0, 0, 0);">有房情况下免费升级</span>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            铂金会员优享通道
                        </td>
                        <td style="width: 22.8%;">

                            <span style="color: rgb(0, 0, 0);">×</span>

                        </td>
                        <td style="width: 22.82%;">
                            &nbsp;


                            <span style="color: rgb(0, 0, 0);">×</span>

                        </td>
                        <td style="width: 24.52%;">
                            √

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            同行分享

                        </td>
                        <td style="width: 22.8%;">

                            <span style="color: rgb(0, 0, 0);">×</span>

                        </td>
                        <td style="width: 22.82%;">
                            &nbsp;


                            <span style="color: rgb(0, 0, 0);">×</span>

                        </td>
                        <td style="width: 24.52%;">
                            本人入住<br>同行房尊享相同铂金权益
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            代订房权益

                        </td>
                        <td style="width: 22.8%;">

                            <span style="color: rgb(0, 0, 0);">×</span>

                        </td>
                        <td style="width: 22.82%;">
                            &nbsp;
                            <span style="color: rgb(0, 0, 0);">×</span>
                        </td>
                        <td style="width: 24.52%;">
                            代订入住<br>入住人尊享相同铂金权益
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            免费邀请金卡会员

                        </td>
                        <td style="width: 22.8%;">

                            <span style="color: rgb(0, 0, 0);">×</span>

                        </td>
                        <td style="width: 22.82%;">

                            <span style="color: rgb(0, 0, 0);">2人/年 </span>

                        </td>
                        <td style="width: 24.52%;">

                            <span style="color: rgb(0, 0, 0);">3人/年 </span>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            预订保留时间

                        </td>
                        <td style="width: 22.8%;">
                            18:00点

                        </td>
                        <td style="width: 22.82%;">
                            20:00 点

                        </td>
                        <td style="width: 24.52%;">
                            24:00 点

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            延迟退房

                        </td>
                        <td style="width: 22.8%;">
                            13:00点

                        </td>
                        <td style="width: 22.82%;">
                            14:00点

                        </td>
                        <td style="width: 24.52%;">
                            18:00点

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            欢迎水果

                        </td>
                        <td style="width: 22.8%;">

                            -

                        </td>
                        <td style="width: 22.82%;">
                            -

                        </td>
                        <td style="width: 24.52%;">
                            入住每晚1份免费水果

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            消费奖励积分

                        </td>
                        <td style="width: 22.8%;">

                            <span>1:1</span>

                        </td>
                        <td style="width: 22.82%;">
                            1:1

                        </td>
                        <td style="width: 24.52%;">
                            1:1

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            退房直接离店

                        </td>
                        <td style="width: 22.8%;">

                            <span style="color: rgb(0, 0, 0);">√</span>

                        </td>
                        <td style="width: 22.82%;">

                            <span style="color: rgb(0, 0, 0);">√</span>

                        </td>
                        <td style="width: 24.52%;">

                            <span style="color: rgb(0, 0, 0);">√</span>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            积分两年有效<br>
                            积分兑换房无时间限制

                        </td>
                        <td style="width: 22.8%;">

                            <span style="color: rgb(0, 0, 0);">√</span>

                        </td>
                        <td style="width: 22.82%;">

                            <span style="color: rgb(0, 0, 0);">√</span>

                        </td>
                        <td style="width: 24.52%;">

                            <span style="color: rgb(0, 0, 0);">√</span>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            免费借阅书籍

                        </td>
                        <td style="width: 22.8%;">
                            1本

                        </td>
                        <td style="width: 22.82%;">
                            2本

                        </td>
                        <td style="width: 24.52%;">
                            3本

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            免费WIFI

                        </td>
                        <td style="width: 22.8%;">

                            <span style="color: rgb(0, 0, 0);">√</span>

                        </td>
                        <td style="width: 22.82%;">

                            <span style="color: rgb(0, 0, 0);">√</span>

                        </td>
                        <td style="width: 24.52%;">

                            <span style="color: rgb(0, 0, 0);">√</span>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            当地电话免费
                        </td>
                        <td style="width: 22.8%;">

                            <span style="color: rgb(0, 0, 0);">×</span>

                        </td>
                        <td style="width: 22.82%;">

                            <span style="color: rgb(0, 0, 0);">√</span>

                        </td>
                        <td style="width: 24.52%;">

                            <span style="color: rgb(0, 0, 0);">√</span>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 29.86%;">
                            免费洗衣服务

                        </td>
                        <td style="width: 22.8%;">


                            <span style="color: rgb(0, 0, 0);">-</span>

                        </td>
                        <td style="width: 22.82%;">


                            <span style="color: rgb(0, 0, 0);">-</span>

                        </td>
                        <td style="width: 24.52%;">

                            <span style="color: rgb(0, 0, 0);">免费1件洗衣服务</span>

                        </td>
                    </tr>
                    <tr>

                        <td rowspan="2" style="width: 29.86%;">
                            积分换房

                        </td>
                        <td colspan="4">
                            以一个积分0.04元兑换免房费（房价以门市价计算），如500元门市价的房间，需要12500个积分

                        </td>
                        <td rowspan="3" style="width: 8.8%; height: 31px;display:none;">
                            积分换房

                        </td>
                        <td style="width: 21.06%;display:none;">
                            门市价400以下<br>
                            （不含400）

                        </td>
                        <td style="width: 22.8%;display:none;">
                            12000 分

                        </td>
                        <td style="width: 22.82%;display:none;">
                            12000 分

                        </td>
                        <td style="width: 24.52%;display:none;">
                            12000 分

                        </td>
                    </tr>
                    <tr style="display:none;">
                        <td style="width: 21.06%;">
                            门市价400至600<br>
                        </td>
                        <td style="width: 22.8%;">
                            18000 分

                        </td>
                        <td style="width: 22.82%;">
                            18000 分

                        </td>
                        <td style="width: 24.52%;">
                            18000 分

                        </td>
                    </tr>

                    <tr style="display:none;">
                        <td style="width: 21.06%; height: 31px;">
                            门市价600以上 <br>
                            （不含600）

                        </td>
                        <td style="width: 22.8%; height: 31px;">
                            24000 分

                        </td>
                        <td style="width: 22.82%; height: 31px;">
                            24000 分

                        </td>
                        <td style="width: 24.52%; height: 31px;">
                            24000 分

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{/block}