<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/postbirdAlertBox.min.css">
    <script type="text/javascript" src="__JS__/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="__JS__/index.js"></script>
    <script type="text/javascript" src="__JS__/laydate/laydate.js"></script>
    <script type="text/javascript" src="__JS__/jquery.validate.js"></script>
	<script type="text/javascript" src="__JS__/postbirdAlertBox.min.js"></script>
</head>