{extend name="base/index" /}
{block name="title"}我要托管{/block}
{block name="content"}
<img src="__IMG__/jm2.jpg" width="100%" alt="">
<div class="cooperation">
    <div class="Name">填写托管详细信息</div>
    <form id="reg" action="{:url('Cooperation/mail')}" method="post">
    <div class="smallTit">联系信息</div>
    <div class="int">
        <div class="txt">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</div>
        <input class="t required" type="text" name="tg_name" placeholder="填写联系人姓名">
    </div>
    <div class="int">
        <div class="txt">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：</div>
        <input class="t required" type="text" name="tg_tell" placeholder="填写联系人电话">
    </div>
    <div class="smallTit">酒店信息</div>
    <div class="int">
        <div class="txt">酒店名称：</div>
        <input class="t required" type="text" name="tg_jdmc" placeholder="填写酒店名称">
    </div>
    <div class="int">
        <div class="txt">酒店地址：</div>
        <input class="t required" type="text" name="tg_jddz" placeholder="填写酒店地址">
    </div>
    <div class="int">
        <div class="txt">建筑面积（m²）：</div>
        <input class="t required" style="width: 193px;" type="text" name="tg_jzmj" placeholder="填写建筑面积">
    </div>
    <div class="int">
        <div class="txt">房&nbsp;&nbsp;间&nbsp;&nbsp;数：</div>
        <input class="t required" type="text" name="tg_room" placeholder="填写房间数">
    </div>
    <div class="int">
        <div class="txt">酒店平均房价（元）：</div>
        <input class="t required" style="width: 173px;" type="text" name="tg_pjfj" placeholder="酒店平均房价">
    </div>
    <div class="int">
        <div class="txt" style="margin-right:50px;">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;梯：</div>
        <div class="ra"><input type="radio" class="radio" name="tg_dt" value="公用" checked="" /><label>公用</label></div>
        <div class="ra"><input type="radio" class="radio" name="tg_dt"value="独用" checked="" /><label>独用</label></div>
        <div class="ra"><input type="radio" class="radio" name="tg_dt"value="无"  /> <label>无</label></div>
    </div>
    <div class="int">
        <div class="txt">停车位数量：</div>
        <input class="t required" style="width: 228px;" type="text" name="tg_tcw" placeholder="填写停车位数量">
    </div>

    <div class="int" id="duotin">
        <div class="txt">多&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;厅：</div>
        <div class="ch">
            <input type="checkbox" class="fx" name="checkbox" checked="" />
            <label>大厅</label>
            <input type="text" class="m"name="tg_dating" placeholder="填写建筑面积（m²）">
        </div>
        <div class="ch">
            <input type="checkbox" class="fx" name="checkbox" />
            <label>会议室</label>
            <input type="text"  style="display:none;" name="tg_meet" class="m" placeholder="填写建筑面积（m²）">
        </div>
        <div class="ch">
            <input type="checkbox" class="fx" name="checkbox" />
            <label>茶坊</label>
            <input type="text"  style="display:none;" name="tg_chafang" class="m" placeholder="填写建筑面积（m²）">
        </div>
    </div>

    <div class="int">
        <div class="txt">其&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;他：</div>
        <input class="t" type="text" name="tg_qtbz" placeholder="其他备注">
        <input type="hidden" name="infoType" value="tg">
    </div>

    <input class="submit" type="submit">
    </form>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
    $('#duotin .fx').click(function(){
        if( $(this).prop('checked') ){
            $(this).parents('.ch').find('.m').show();
        }else{
            $(this).parents('.ch').find('.m').hide();
        }
    });
    $('#reg').validate({
        debug:true,
        submitHandler:function(form) {
            var form=document.getElementById("reg");
            var formData=new FormData(form);
            var oReq = new XMLHttpRequest();
            oReq.onreadystatechange=function(){
                if(oReq.readyState==4){
                    if(oReq.status==200){
                        // var json = JSON.parse(oReq.responseText);
                        // console.log( json );
                        console.log(oReq)
                        if( oReq.statusText == "OK" ){
                            PostbirdAlertBox.alert({
                                'title': '提示',
                                'content': '提交成功',
                                'okBtn': '确定',
                                'contentColor': 'red',
                                'onConfirm': function () {
                                    location.reload();
                                }
                            });
                            
                        }else{
                            PostbirdAlertBox.alert({
                                'title': '提示',
                                'content': '提交失败',
                                'okBtn': '确定',
                                'contentColor': 'red',
                                'onConfirm': function () {
                                    location.reload();
                                }
                            });
                        }
                    }
                }
            };
            oReq.open("POST", "{:url('Cooperation/mail')}");
            oReq.send(formData);
        }
    });
</script>
{/block}